
html, body {
    overflow: hidden !important;
    height: 100%;
    width: 100%;
    margin: 0;
}

img {
    height: 80%;
    width: 90%;
}

body {
    display: flex;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    gap: 10px;
    margin: 10px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.speed {
    align-self: stretch;
    background-color: aqua;
    width: 70px;
}

.btn {
    background-color: aqua;
    height: 70px;
    width: 70px;
}

.hor-btns {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.wheels {
    background-color: aqua;
    height: 70px;
    width: 70px;
}